.post-header { 
      margin-bottom: 30px; 
      position: relative; 
    }

    h1, h4, h7 { 
      color: #e22c29; 
      font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
      font-weight: 100;
    }

    h1 {
      display: block;
      font-size: 2em;
      -webkit-margin-before: 0.67em;
      -webkit-margin-after: 0.67em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
      margin-bottom: 0px;
    }

    h3 {
      font-size: 2.25em;
      margin-bottom: -5px;
      font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
    }

    header h1 {
      font-family: "gothic-open-shaded","Adobe Caslon Pro",Caslon,Baskerville,Palatino,"Palatino Linotype","Hoefler Text",Garamond,"URW Palladio L","Book Antiqua",Georgia,serif !important;
    color: #d73c2c !important;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.1;
    }

    h2 {
      font-size: 2.5em;
      font-weight: 650;
      text-decoration: none;
      font-style: normal;
      letter-spacing: -0.04em;
      line-height: 1.1;
      margin-bottom: 0px;
    }

    h4 {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 0px;
      text-decoration: none;
    }

    h7 {
      color: #c64119;
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
    }

    h7.resume {
      color: #666;
      font-style: italic;
    }



    hr {
      margin-bottom: 10px;
    }

    i.fa-download {
      color: #D01B27;
    }

    i.fa-download:hover {
      color: skyblue;
    }

    sup {
      font-size:0.6em;
    }

    p { 
      font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif; 
      font-size: 1em; line-height: 26px;
      margin: 0; 
      text-align: justify;
    }

    li.description {
      font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif; 
      font-size: 0.9em;
      color: #e22c29;
      margin: 3px;
    }

    li.contact-info {
      color: black;
      margin: 5px;
      font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif; 
    }

    li.deg-description {
      color: #666;
      font-style: italic;
      font-size: .9em;
    }

    table.skills td{
      padding-top: .3em;
      padding-bottom: .3em;
    }

    span.resume {
      color: #666;
      font-style: italic;
      font-size: .9em;
    }

    span.resume_highlight {
      color: #e22c29;
      font-weight:bold;
    }

    span.work_date {
      font-size: 9pt; 
      color: #969595;
      /*font-style: italic;*/
    }

    a, a:visited, a:link, a:active { 
      color: #e22c29;
      text-decoration: none;
    }

    a:hover { 
      color: skyblue;
      text-decoration: none;
    }

    .box-wrap {
      /*max-width: 800px;*/
      width: 70%;
      margin: auto;
    }

    .resume-wrap {
      /*max-width: 950px;*/
      width: 80%;
      height: 100%;
      margin: auto;
    }

    .video-container{
      width: 350px;
      overflow:hidden;
      display:block;
      height: 250px;
    }

    .left {
      width: 60%; 
      float: left;
    }

    .right {
      width: 35%;
      float: right;
      overflow-x: hidden;
    }

    .range {
      /*width: 10px;*/
      height: 100%;
      float: left;
    }

    #glass{
      margin-left: -150px;
      margin-top: -130px;
    }

    #fop img {
      height: 3rem;
      margin: 0 0.6rem;
    }
    
    #fop img#gplus {
      height: 2.3rem;
      margin-bottom: 0.35rem;
    }